.featured {
    perspective: 1000px; 
    font-family: 'Roboto', sans-serif;
  }
  
  .featured span {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    line-height: .8;
    color: #444;
  }
  
  .featured span:nth-child(1).active {
    animation: left-balance 1.5s ease-out;
    transform-origin: bottom left;
  }
  
  @keyframes left-balance {
    0%, 100% {
      transform: rotate(0deg);
    }
    
    30%, 60% {
      transform: rotate(-45deg);
    }
  }
     
  .featured span:nth-child(2).active {
    animation: rotate 1s ease-out;
  }
  
  @keyframes rotate {
    20%, 60% {
      transform: rotateY(-180deg);
    }
    
    100% {
      transform: rotateY(-360deg);
    }
  }
     
  