.hidden {
    opacity:0;
}

.console-container {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: #555;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.console-underscore {
    display: inline-block;
    position :relative;
    top: -0.009em;
    left :10px;
}

.follow-container {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: #ef5350;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}