.no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
}

.se-pre-con {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #000;
}

.spinner-border{
	position: fixed;
	bottom: 24px;
	right: 23px;
	z-index: 9999;
}