html { 
    overflow-y: auto; 
    box-sizing: border-box;
}
::-webkit-scrollbar {
	width: .8rem;
	height: 0rem;
}
::-webkit-scrollbar-thumb { background: #333; cursor: pointer; }

::-webkit-scrollbar-thumb:hover { background: #444; cursor: pointer;}

::-webkit-scrollbar-track { background: #555; cursor: pointer; }

body {
    background-image: url("https://bitbearner.netlify.app/externals/imgs/background-img1.png");
    background-repeat: repeat;
}
.navbar {
    background-color: #121415;
    border-radius: 0.250rem 0.250rem 0 0;
    max-height: 45px;
    border-top: 1px solid #333 !important;
    border-left: 1px solid #333 !important;
    border-right: 1px solid #333 !important;
    font-family: Courier;
}
.main-card {
    background-color: #0c0d0e;
    border-left: 1px solid #333 !important;
    border-right: 1px solid #333 !important;
    border-bottom: 1px solid #333 !important;
    
}
a {
    cursor: pointer;
}
img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.donothighlight {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
textarea {
    background-color: #121415 !important;
    outline: none;
    box-shadow:none !important;
    border:1px solid #333 !important;
    border-radius: 0 !important;
    font-family: Courier;
    color: #f0f0f0 !important;
    font-size: 18px !important;
    resize: both;
    max-width: 100%;
    height: 60vh;
}
.save-btn {
    text-decoration: none;
    color: #888;
}
.save-hover {
    color: #21a821;
}
.convert-button {
    border: 1px solid;
    border-color: #555;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: #000;
    background-color: #e0f2f1;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Courier;
}
.convert-button:hover {
    -webkit-filter: brightness(103%);
    filter: brightness(103%);
}
.convert-button:active {
    background-color: #e0f7fa;
    transform: translateY(1px);
    outline: none;
    box-shadow: 1px #666;
}
.insert-button {
    border: 1px solid;
    border-color: #555;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: #000;
    background-color: #86c5f9;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Courier;
}
.insert-button:hover {
    -webkit-filter: brightness(103%);
    filter: brightness(103%);
}
.insert-button:active {
    background-color: #85d5fa;
    transform: translateY(1px);
    outline: none;
    box-shadow: 1px #666;
}
.copy-button {
    border: 1px solid;
    border-color: #555;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: #000;
    background-color: #81c784;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Courier;
}
.copy-button:hover {
    -webkit-filter: brightness(103%);
    filter: brightness(103%);
}
.copy-button:active {
    background-color: #81c784;
    transform: translateY(1px);
    outline: none;
    box-shadow: 1px #666;
}
.delete-button {
    border: 1px solid;
    border-color: #555;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: #000;
    background-color: #e57373;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Courier;
}
.delete-button:hover {
    -webkit-filter: brightness(105%);
    filter: brightness(105%);
}
.delete-button:active {
    background-color: #e77e7e;
    transform: translateY(1px);
    outline: none;
    box-shadow: 1px #666;
}
.footertext-1 {
    color: #616161;
    font-family: Courier;
}
a:hover { 
    color: #21a821;
}
::placeholder {
    color: #21a821 !important;
}
.modal-header {
    background-color: #121415;
}
.modal-title {
    color: #eee;
    font-family: Courier;
}
.modal-body {
    background-color: #0c0d0e;
    font-family: Courier;
    font-size: 20px;
}